## Loading Required Libraries

In [6]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in d:\softwares\anaconda\ana\lib\site-packages (0.11.0)
Requirement already satisfied: scipy>=1.5.0 in d:\softwares\anaconda\ana\lib\site-packages (from imbalanced-learn) (1.7.3)
Requirement already satisfied: numpy>=1.17.3 in d:\softwares\anaconda\ana\lib\site-packages (from imbalanced-learn) (1.21.5)
Requirement already satisfied: scikit-learn>=1.0.2 in d:\softwares\anaconda\ana\lib\site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: joblib>=1.1.1 in d:\softwares\anaconda\ana\lib\site-packages (from imbalanced-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\softwares\anaconda\ana\lib\site-packages (from imbalanced-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-2.0.0-py3-none-win_amd64.whl (99.7 MB)
Requirement already satisfied: numpy in d:\softwares\anaconda\ana\lib\site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in d:\softwares\anaconda\ana\lib\site-packages (from xgboost) (1.7.3)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.0

In [2]:
# Data Preprocessing

import numpy as np
import pandas as pd

# Data Analysis

import plotly.express as px
import missingno as msno

# Feature Selection

import scipy.stats as stats
from scipy.stats import chi2_contingency

# Data Modeling

from sklearn.model_selection import train_test_split
from imblearn.under_sampling import RandomUnderSampler 
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

# Model Evaluation & saving the model

from sklearn.metrics import classification_report, confusion_matrix, ConfusionMatrixDisplay, recall_score, accuracy_score, precision_score, f1_score
import pickle

In [3]:
data = pd.read_csv("corona_tested_006.csv")

C:\Users\moham\AppData\Local\Temp\ipykernel_6732\201642362.py:1: DtypeWarning: Columns (2,3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("corona_tested_006.csv")

In [4]:
data.head()

,Ind_ID,Test_date,Cough_symptoms,Fever,Sore_throat,Shortness_of_breath,Headache,Corona,Age_60_above,Sex,Known_contact
0,1,11-03-2020,TRUE,FALSE,TRUE,FALSE,FALSE,negative,None,None,Abroad
1,2,11-03-2020,FALSE,TRUE,FALSE,FALSE,FALSE,positive,None,None,Abroad
2,3,11-03-2020,FALSE,TRUE,FALSE,FALSE,FALSE,positive,None,None,Abroad
3,4,11-03-2020,TRUE,FALSE,FALSE,FALSE,FALSE,negative,None,None,Abroad
4,5,11-03-2020,TRUE,FALSE,FALSE,FALSE,FALSE,negative,None,None,Contact with confirmed

In [6]:
data.isnull().sum()

Ind_ID                 0
Test_date              0
Cough_symptoms         0
Fever                  0
Sore_throat            0
Shortness_of_breath    0
Headache               0
Corona                 0
Age_60_above           0
Sex                    0
Known_contact          0
dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278848 entries, 0 to 278847
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Ind_ID               278848 non-null  int64
 1   Test_date            278848 non-null  object
 2   Cough_symptoms       278848 non-null  object
 3   Fever                278848 non-null  object
 4   Sore_throat          278848 non-null  object
 5   Shortness_of_breath  278848 non-null  object
 6   Headache             278848 non-null  object
 7   Corona               278848 non-null  object
 8   Age_60_above         278848 non-null  object
 9   Sex                  278848 non-null  object
 10  Known_contact        278848 non-null  object
dtypes: int64(1), object(10)
memory usage: 23.4+ MB

In [18]:
# Checking the levels for categorical features

def show(data):
  for i in data.columns[2:]:
    print(f"Feature: {i} with {data[i].unique()} Levels")

show(data)

Feature: Cough_symptoms with ['TRUE' 'FALSE' 'None' False True] Levels
Feature: Fever with ['FALSE' 'TRUE' 'None' False True] Levels
Feature: Sore_throat with ['TRUE' 'FALSE' 'None' False True] Levels
Feature: Shortness_of_breath with ['FALSE' 'TRUE' 'None' False True] Levels
Feature: Headache with ['FALSE' 'TRUE' 'None' False True] Levels
Feature: Corona with ['negative' 'positive' 'other'] Levels
Feature: Age_60_above with ['None' 'No' 'Yes'] Levels
Feature: Sex with ['None' 'male' 'female'] Levels
Feature: Known_contact with ['Abroad' 'Contact with confirmed' 'Other'] Levels

In [21]:
def show1(data):
  for i in data.columns[1:]:
    print(f" {i}  {data[i].value_counts()} ")

show1(data)

 Test_date  20-04-2020    10921
19-04-2020    10199
22-04-2020     9646
21-04-2020     9624
16-04-2020     9138
23-04-2020     8744
01-04-2020     8654
13-04-2020     8425
02-04-2020     8188
03-04-2020     8079
17-04-2020     7645
05-04-2020     7509
30-04-2020     7313
27-04-2020     7304
15-04-2020     7149
31-03-2020     7134
24-04-2020     7028
26-03-2020     6663
14-04-2020     6571
28-04-2020     6334
18-04-2020     6321
26-04-2020     6131
12-04-2020     5984
27-03-2020     5963
07-04-2020     5931
30-03-2020     5915
10-04-2020     5678
28-03-2020     5602
25-03-2020     5495
06-04-2020     5368
29-03-2020     5277
04-04-2020     5145
25-04-2020     5052
24-03-2020     4735
09-04-2020     4539
11-04-2020     4341
29-04-2020     4259
08-04-2020     4058
22-03-2020     3565
23-03-2020     3494
19-03-2020     2243
18-03-2020     1991
20-03-2020     1870
21-03-2020     1648
17-03-2020     1463
16-03-2020     1304
15-03-2020      985
13-03-2020      686
12-03-2020      634
14-03-2020      609
11-03-2020      294
Name: Test_date, dtype: int64
 Cough_symptoms  False    127531
FALSE    108837
TRUE      21983
True      20245
None        252
Name: Cough_symptoms, dtype: int64
 Fever  False    137774
FALSE    119070
TRUE      11750
True      10002
None        252
Name: Fever, dtype: int64
 Sore_throat  False    212584
FALSE     64337
TRUE       1198
True        728
None          1
Name: Sore_throat, dtype: int64
 Shortness_of_breath  False    212842
FALSE     64428
TRUE       1107
True        470
None          1
Name: Shortness_of_breath, dtype: int64
 Headache  False    212326
FALSE     64107
TRUE       1428
True        986
None          1
Name: Headache, dtype: int64
 Corona  negative    260227
positive     14729
other         3892
Name: Corona, dtype: int64
 Age_60_above  None    127320
No      125703
Yes      25825
Name: Age_60_above, dtype: int64
 Sex  female    130158
male      129127
None       19563
Name: Sex, dtype: int64
 Known_contact  Other                     242741
Abroad                     25468
Contact with confirmed     10639
Name: Known_contact, dtype: int64